.map-box {
    width: 100vw;
    height: 36vh;
    position: relative;
    /* 中心icon */
    .center-icon-box {
      position: absolute;
      /* 保证icon 处于地图中心点 */
      top: calc(50% - 30rpx);  
      left: 50%;
      transform:translate(-50%, -50%);
    .icon {
        width: 72px;
        height: 72px;
      }
    }
  }
  .formItem{
  margin-top: 20rpx;
  }